*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  height:100vh;
  width: 100vw;
  background-image: url("./images/wedding-photo.jpg");
  background-position: 'center';
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Alumni Sans', sans-serif;
  font-size:20px;
}

/* nav bar */
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding:30px;
}

#nav-right {
  justify-self: right;
}

.nav-link {
  margin-left: 20px;
}

