*{
  box-sizing: border-box;
}

div {
  position:relative;
}

.App {
  text-align: center;
  font-family: 'Alumni Sans', sans-serif;
  font-size:20px;
}

/* nav bar */
.navbar {
  margin: 0px 60px 10px 20px;
  text-align: left;
  letter-spacing: 0.1em;
  font-size:22px;
  text-transform:uppercase;
  position: relative;
  padding-top:15px;
}

nav img {
    width:50px;
    aspect-ratio: 1/1;
    object-fit:contain;
    vertical-align: middle;
} 

.nav-link {
  margin-left: 20px;
  color:#7A3B69;
}

.nav-link:hover{
  text-shadow: 0.5px 0.5px 1px #7A3B69;
}

.selected-link {
  font-weight: bolder;
  text-shadow: 0.5px 0.5px 0.5px #7A3B69;
}

/* styling that applies to both budget and funds */
h2 {
  margin-top:0;
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color:#0F0F0F;
  position:relative;
}

h3 {
  margin-top:0;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color:#0F0F0F;
  padding-top:25px;
}

a {
  color:#0F0F0F;
}

.secondary-nav{
  text-align:right;
  margin-right:75px;
}

.secondary-nav a {
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size:22px;
}

.secondary-nav a:hover {
  text-shadow: 0.5px 0.5px 1px #0f0f0f;
}

.selected-second-nav{
  font-weight:bolder;
}

.bottom-container{
  background: rgba(247, 178, 173, 0.5);
  width:100%;
  padding-bottom:10px;
  min-height:75vh;
}

/* .table-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:40px;
  margin: 0 auto;
  width:75%;
} */

/* .table-div-left p {
  width: 75%;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top:15px;
  padding-bottom:45px;
} */

table {
  width:100%;
  border: 3px solid white;
}

td {
  border: 1px solid white;
}

h4 {
  margin-bottom:5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color:#0F0F0F;
  margin-top:10px;
}

/* form {
  display:grid;
  grid-template-columns: 1fr 1fr 20px;
  justify-content: center;
  gap:20px;
} */

label{
  width:100%;
}

input{
  display:block;
  width:100%;
  outline:none;
}

select{
  width:100%;
}

form button {
  border-radius: 45px;
  outline: none;
  border:1px solid #0f0f0f;
  background: #FBDCDA;
  font-weight:bold;
  vertical-align: middle;
  text-align: center;
  /* font-size: 24px; */

  /* margin-top:23px; */
  margin-right:10px; 
  padding:0px 11px 0px 11px;

}

form button:hover{
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

td button {
  /* margin-top:4px; */
  margin-right:5px;
  float:right;
  border-radius: 15px;
  outline: none;
  border:1px solid #0f0f0f;
  background: #FBDCDA;
  font-weight:bold;
  font-size:14px;
  text-align: center;
  padding:0px 8px 0px 8px;
}

td button:hover{
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.cursor-pointer{
  cursor:pointer;
}

/* actual costs page */
.actual-grid-right {
  border: 2px solid white;
}

#actual-cost-form {
  display:grid;
  grid-template-columns: 1fr 1fr 40px;
  justify-content: center;
  gap:20px;
}


.span-2-rows{
  grid-row: 1 / 3;
  grid-column: 3 / 4;

  align-self:center;
}

.invis-button{
  outline:none;
  color:transparent;
  border:none;
  cursor:none;
}

.invis-button:hover {
  border:none;
  box-shadow: none;
  cursor:auto;
}

/* add funds page */

/* funds display page */
#funds-table {
  width: 70%;
  margin: 0 auto;
}

.Funds td button {
  margin-top:4px;
}
