.App {
  text-align: center;
}

/* nav bar */
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin: 30px;
}

#nav-right {
  justify-self: right;
}

.nav-link {
  margin-left: 20px;
}

